body{
  background-color: #1c2650;
  
}

.encabezado{
  position: absolute;
  backdrop-filter: blur(20px);
  /*background-color: #1c2650;*/
  color: #ffffff;
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  top:0;
  padding: 0;
  background-image: url('/Imagenes/AATLA_Logo_FObscuros.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  /*position: fixed;*/
}


.botonesDiv{
  position:relative;
  height: 112%;
  width: 93vw;
  top: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size:x-small;
  color: white;
  font-style: italic;
  border-radius: 10px;
}
.inputFile1{
  backdrop-filter: 10px;
}
.contenido{
  position:absolute;
  left: 2%;
  top:200px;
  /*padding:2% ;*/
  width: 96%;
  justify-content: center;
  margin-top: 5px;
  
}

.tablaD{
  max-height: auto;
  overflow-y: auto;
  overflow-x: auto;
  border-color: #268729;
  border: 4px solid #77c5be;
}
/* Estilo para el botón */
.btnExcel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #77c5be;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border-style:solid;
    cursor: pointer;
    ;
  }
.btnExcel:hover {
    background-color: #51d3c8;
    transition: 0.5s;
    box-shadow: -1px -1px 6px 0 rgb(122,221,102), 4px 4px 16px 2px rgb(92,162,235);
}
.btnExcel:active{
    background-color: #89ded7;
    
}
  
  /* Estilo para el GIF dentro del botón */
  .btnExcel img {
    width: 20px; /* Ajusta el tamaño del GIF */
    height: 20px; /* Ajusta el tamaño del GIF */
    margin-right: 8px; /* Espacio entre el GIF y el texto */
  }

  .btnImportar img{
    width: 20px; /* Ajusta el tamaño del GIF */
    height: 20px; /* Ajusta el tamaño del GIF */
    margin-right: 8px;
  }

  .btnImportar:hover {
    background-color: #51d3c8;
    transition: 0.2s;
    box-shadow: -1px -1px 6px 0 rgb(122,221,102), 4px 4px 16px 2px rgb(92,162,235);
}
.btnImportar:active{
    background-color: #89ded7;
}
.tablaDatos{
    width: 100px;
    border-collapse: collapse; /* Para eliminar los espacios entre los bordes */
    background-color: #ffffff;
    
}
.tablaDatos th{
    border: 1px solid rgb(0, 0, 0); /* Borde negro para cada celda */
    padding: 5px; /* Margen interno de cada celda */
    text-align: left;
    background-color: #1100ff;
    color: #ffffff;
}

.tablaDatos td {
    border: 1px solid rgb(0, 0, 0); /* Borde negro para cada celda */
    padding: 8px; /* Margen interno de cada celda */
    text-align: left; /* Alineación del texto */
    
}